a{
  font-family: 'Montserrat', sans-serif;
  color:inherit;
  text-decoration: underline;
}
nav a{
  text-decoration: none;
}
nav a:hover{
  color:inherit;
}

button a{
  text-decoration: none;
  font-weight:600;
}
button a:hover{
  text-decoration: none;
  color:inherit;
}


.card-anchor{
  text-decoration: none;
  color:inherit;
}
.card-anchor:hover{
  text-decoration: none;
  color:inherit;
}

.card{
  box-shadow: 0px 4px 6px;
  transition: box-shadow 0.2s;
  min-height: 300px;
  margin-bottom: 36px;
}
.card:hover{
  box-shadow: 0px 2px 2px;
}

.card-img-top{

}

h1 {
  display:flex;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size:36px;
  margin-top:36px;
  margin-bottom:36px;
  justify-content:center;
}
.header:after{
  display:flex;
  content:'';
  border-bottom: solid 5px #A2E3AA;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight:300;
  font-size:36px;
  padding-top:50px;
  padding-bottom:50px;
}
h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight:600;
  font-size:56px;
}
h4{
  font-family: 'Montserrat,' sans-serif;
  font-weight:400;
  font-size:40px;
  transition: font-size 0.1s;
  text-shadow: 0px 4px 4px black;
}

.carousel-caption{
  top:50%;
  transform:translateY(-50%);
  bottom:auto;
  color:white;
}

.carousel:hover h4{
  font-size:44px;
}

iframe{
  margin-top:30px;
}

h5 {
  font-family: 'Montserrat,' sans-serif;
  font-weight:600;
  font-size:20px;
  padding: 10px 10px 0px 10px;
}
.card-text{
  padding: 0px 10px 20px 10px;
}

nav {
  margin-left:10px;
  margin-right:10px;
  background-color: #F0F0F0;
}

p {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size:18px;
}
.card-text {
  font-size: 14px;
}

#carouselExampleIndicators{
  margin-top:20px;
  margin-bottom:50px;
}

#carouselProjectIndicators{
  margin-top:36px;
  margin-bottom:20px;
}

#home-video{
    background-color:#E2E2E2;
}

#my-pic{
  margin-bottom: 36px;
  margin-top:3px;
}


.btn {
  background-color: #A2E3AA;
  border:0px;
  color:black;
  border-radius:10px;
  box-shadow: 0px 6px 8px;
  font-weight:700;
}

.btn:hover{
  background-color: #59B865;
  box-shadow: 0px 2px 4px;
  color:black;
}

.copyright{
  padding-top:20px;
  padding-bottom:20px;
}

.fa{
  color:black;
  transition: color 0.2s;
}
.fa:hover{
  color:#A2E3AA;
}

.footer{
  background-color:#F3F0F0;
  border-top: 2px solid #979797;
  border-bottom: 2px solid #979797;
  margin-top:10px;
  padding-top:36px;
  padding-bottom:20px;
}

.my-links{
  display:flex;
  justify-content: center;
  align-items: center;
}

.portfolio-headings{
    font-size:24px;
}

.proj-header{
  max-height: 400px;
  overflow:hidden;
}

.triple-card{
  margin-top: 36px;
}

#podcast-title{
  margin-top:16px;
}
.podcast{
  height:100%;
  width: 100%;
  object-fit: contain;
  transition: 0.2s ease;
}
.podcast:hover{
  transform:scale(1.2);
}

.podcasts{
  margin-top:36px;
  margin-bottom: 36px;
}

#home-video{
  padding-top:60px;
  padding-bottom:60px;
}


#messageContainer{
  animation-name: wiggle;
  animation-duration: 1500ms;
  animation-delay: 1500ms;
  transform-origin: 50% 50%;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes wiggle {
  20% {transform: rotate(0deg);}
  25% {transform: rotate(-10deg);}
  30% {transform: rotate(10deg);}
  35% {transform: rotate(0deg);}
}

.next-button{
  margin-top:36px;
  margin-bottom:36px;
}
#resume-row{
  margin-top:36px;
  margin-bottom:36px;
}

@media (max-width: 767px) {
    #resume-button {
        margin-bottom:36px;
    }

    h2 {
      font-size:26px;
    }
    h3 {
      font-size:36px;
    }
    p{
      font-size:16px;
    }
    h4{
      font-size:25px;
      transition: font-size 0.1s;
    }
    .carousel:hover h4{
      font-size:30px;
    }
    #home-video{
      padding-top: 30px;
      padding-bottom: 30px;
    }
    .card{
      min-height: 0px;
    }
}
